    body {
      margin: 0;
      padding: 0;
      display: flex;
      color: white;

      /* Imagen de fondo */
      background-size: cover;

      /* Capa oscura encima para que el texto se lea bien */
      background-color: rgba(0, 0, 0, 0.7);
      background-blend-mode: darken;
    }


    .lateral-menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 200px;
      background-color: #1a0f1f;
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 2px solid #b3003c;
    }

    nav a {
      font-family: "UnifrakturCook", cursive;
      color: #e6c9d8;
      text-decoration: none;
      margin: 15px 0;
      font-size: 20px;
      transition: color 0.3s;
    }

    nav a:hover {
      color: #ff4d6d;
    }

    .content {
      margin-left: 220px;
      padding: 20px;
      width: calc(100% - 220px);
    }

    h1 {
      font-family: "Creepster", cursive;
      font-size: 60px;
      color: #b3003c;
      text-shadow: 3px 3px 8px black;
      text-align: center;
      margin-top: 30px;
    }

    h2 {
      font-family: "Cinzel Decorative", serif;
      font-size: 28px;
      color: #d9d9d9;
      font-style: italic;
      text-shadow: 2px 2px 6px #660022;
      text-align: center;
      margin-top: 10px;
    }

    .message-box {
      background-color: #262240;
      border-radius: 10px;
      padding: 20px;
      margin: 40px auto;
      width: 85%;
      box-shadow: 0px 0px 10px #660022;
    }

    .message-box .top {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    .message-box img.main {
      width: 25%;
      max-width: 220px;
      border-radius: 10px;
      margin-right: 20px;
      box-shadow: 0px 0px 15px #330011;
    }

    .message-box .text {
      flex: 1;
      font-family: "Crimson Text", serif;
      font-size: 18px;
      color: #f2f2f2;
      text-align: justify;
    }

    .message-box h3 {
      font-family: "Roboto Slab", serif;
      font-size: 22px;
      color: #ff4d6d;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .message-box ul {
      text-align: left;
      margin-left: 20px;
      color: #ddd;
    }

    section {
      margin: 40px auto;
      width: 75%;
      background-color: #1f1f1f;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px #b3003c;
    }

    section h3 {
      font-family: "Roboto Slab", serif;
      font-size: 26px;
      color: #ff4d6d;
      margin-bottom: 15px;
    }

    section p {
      font-family: "Crimson Text", serif;
      font-size: 18px;
      color: #ddd;
      text-align: justify;
    }




